html, body{ margin: 0;  height: 100%; overflow: hidden}
.bg{
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(44, 39, 37));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logos{
    padding-top: 2%;
    padding-left: 4%;
    width: 100%;
    display: inline-block;
    position: relative;
}
.aml_logo{
    display: inline-block;
}

.cryptix_logo{
    position: absolute;
    padding-left: 30%;
    padding-top: 3%;
    display: inline-block;
}

.greet{
    padding-left: 28%;
    padding-top: 1%;
    font-size: 50px;
    color: rgb(34, 248, 6);
    font-family: 'Source Code Pro';
}

.message1{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 12%;
    padding-right: 10%;
    font-family: 'Source Code Pro';
}

.message2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 12%;
    padding-right: 10%;
    font-family: 'Source Code Pro';

}

.links{
    padding-left: 40%;
    padding-top: 4%;
}
.a1, .a2{
    padding: 20px;
    color: rgb(255,255,255);
}
/* second part: b4s1c_ */
